<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>CartView</title>
</head>
<body>
  <h1 th:text="カート"></h1>
  <table>
    <tr th:each="order : ${cart.orderList}">
      <td th:text=${itemList[order.itemId.toString()].name}></td>
      <td th:text=${itemList[order.itemId.toString()].price}></td>
      <td th:text=${order.num}></td>
      <!-- 円とか個とか出てないけど今は後回し -->

    </tr>
  </table>

  <form th:action="@{/itemlist}">
    <input type="submit" value="商品一覧に戻る" />
  </form>

</body>
</html>
