<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>CartView</title>
</head>
<body>
  <h1 th:text="カート"></h1>
  <table>
    <tr th:each="order : ${cart.orderList}">
      <td th:text=${itemList[order.itemId.toString()].name}></td>
      <td th:text=${itemList[order.itemId.toString()].price}></td>
      <td th:text="円"></td>
      <td th:text=${order.num}></td>
      <td th:text="個"></td>
      <td th:text="合計"></td>
      <td
        th:text=${itemList[order.itemId.toString()].price}*${order.num}></td>
      <td th:text="円"></td>
      <td>
        <form th:action="@{/deleteOrder}" th:object="${deleteForm}"
          method="POST">
          <input type="hidden" name="itemId" th:value="${order.itemId}" />
          <input type="submit" value="削除" />
        </form>
      </td>
      <!-- TODO:円とか個とか無理やり出しているけど今は後回し -->
    </tr>

    <tr>
      <td th:text="カート合計"></td>
      <td th:text=${cart.totalAmount}></td>
      <td th:text="円"></td>
    </tr>
  </table>

  <form th:action="@{/itemlist}">
    <input type="submit" value="商品一覧に戻る" />
  </form>

</body>
</html>
