<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>ItemList</title>
</head>
<body>
  <h1 th:text="商品一覧"></h1>
  <table>
    <tr th:each="item : ${map}">
      <td th:text="${item.getValue().getName()}"></td>
      <td th:text="${item.getValue().getPrice()} + '円'"></td>
      <td>
        <form th:action="@{/order}" th:object="${order}" method="post">
          <select th:name="num">
            <option th:each="i : ${#numbers.sequence(1, 10)}" th:value="${i}" th:text="${i}"></option>
          </select>
          <input type="hidden" name="itemId" th:value="${item.getValue().getItemId()}" />
          <input type="submit" value="カートに入れる" />
        </form>
      </td>
    </tr>
  </table>
</body>
</html>
